{% load static %}
{% include 'menu.html' %}
<!DOCTYPE html>
<html>
    <head>
        <title>Starion</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <div id="menu_catalogos">
            <ul>
                
            </ul>
        </div>
        <div id="tabla_user">
            <h1>Catálogo de usuarios</h1>
            <table>
                <tr>
                    <th>Empleado ID</th>
                    <th>Puesto</th>
                    <th>Nombre</th>
                    <th>Apellido Parteno</th>
                    <th>Apellido Marteno</th>
                    <th>Email</th>
                    <th>Usuario Rebe</th>
                    <th>Usuario PC</th>
                    <th>Turno</th>
                    <th>Cliente</th>
                </tr>
                {% for user in users %}
                <tr>
                    <td>{{ user.user_id }}</td>
                    <td>{{ user.position }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.ap_pat }}</td>
                    <td>{{ user.ap_mat }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.rebe_user }}</td>
                    <td>{{ user.pc_user }}</td>
                    <td>{{ user.shift }}</td>
                    <td>{{ user.client }}</td>
                    <!-- Agrega más columnas según tu modelo -->
                </tr>
                {% endfor %}
            </table>
        </div>
    </body>
</html>